<h2>Talk</h2>
<p>ダイレクトメッセージ</p>

<hr>

<div class="col-sm-6">
  <ul>
    <% @talks.each do |talk| %>
      <% if talk.target_user(current_user).present? %>
        <li class="talking__user">
          <%= link_to talk_messages_path(talk) do %>
            <% if talk.target_user(current_user).profile.icon? %>
              <%= image_tag talk.target_user(current_user).profile.icon.url %>
            <% else %>
              <%= image_tag asset_path("default_icon.png") %>
            <% end %>
            <%= talk.target_user(current_user).name %>
            <span class="btn btn-danger"><%= talk.messages.where.not(user_id:current_user.id).where(read: false).count %></span>
          <% end %>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>

<div class="col-sm-6">
  <div class=" message__area">
    <h4><%= @to.name %>のトークルーム</h4>
      <!---メッセージが10件以上あれば以前のメッセージへのリンクを表示する--->
      <% if @over_ten %>
        <%= link_to '以前のメッセージ', '?m=all' %>
      <% end %>
    <br>
      <% @messages.each do |message| %>
        <% if message.content.present? %>
            <% if message.user == current_user %>
              <div class="fukidasi right">
            <% else %>
              <div class="fukidasi left">
            <% end %>
                <%= message.content %>
                <div class="message__detail">
                  <p><%= message.created_at.strftime('%m/%d %H:%M') %></p>
                  <% if message.user == current_user %>
                    <p><%= message.read ? 'read' : 'unread' %></p>
                    <!---?の前の記述（message.read）が、trueなら : の左側の処理を実行（既読）、falseなら,: の右側の処理を実行（未読）--->
                  <% end %>
                </div>
              </div>
        <% end %>
      <% end %>
  </div>

  <br>

  <!---会話にひもづくメッセージの入力フォームを投稿者を自分に指定して生成する--->
  <%= form_with(model: [@talk, @message]) do |f| %>
    <div class="field">
      <%= f.text_area :content, class: "form-control", :placeholder => "メッセージを入力" %>
    </div>
      <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
    <div>
      <%= f.submit "送信", class:"btntextchange"%>
    </div>
  <% end %>

</div>