<div class="col-sm-6">
  <h1>Talks</h1>
  <ul>
    <% @talks.each do |talk| %>
      <% if talk.target_user(current_user).present? %>
        <li class="talking__user">
          <%= link_to talk_messages_path(talk) do %>
            <%= image_tag talk.target_user(current_user).profile.icon.url %>
            <%= talk.target_user(current_user).name %>
            <span class="btn btn-danger"><%= talk.messages.where.not(user_id:current_user.id).where(read: false).count %></span>
          <% end %>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>

<div class="col-sm-6">
  <h1>Messages</h1>
  <div class=" message__area">
    <!---メッセージが10件以上あれば以前のメッセージへのリンクを表示する--->
    <% if @over_ten %>
      <%= link_to '以前のメッセージ', '?m=all' %>
    <% end %>
    <% @messages.each do |message| %>
      <% if message.content.present? %>
        <div class="message__list">
          <% if message.user == current_user %>
            <div class="fukidasi right">
          <% else %>
            <div class="fukidasi left">
          <% end %>
              <%= message.content %>
            </div>
          <% if message.user == current_user %>
            <p class="time"><%= message.created_at.strftime('%Y/%m/%d %H:%M') %></p>
            <p class="read"><%= message.read ? 'read' : 'unread' %></p>
            <!---?の前の記述（message.read）が、trueなら : の左側の処理を実行（既読）、falseなら,: の右側の処理を実行（未読）--->
          <% else %>
            <p class="time right"><%= message.created_at.strftime('%Y/%m/%d %H:%M') %></p>
          <% end %>
        </div>
    <% end %>
  <% end %>
</div>

  <br>

  <!---会話にひもづくメッセージの入力フォームを投稿者を自分に指定して生成する--->
  <%= form_with(model: [@talk, @message]) do |f| %>
    <div class="field">
      <%= f.text_area :content, autofocus: true, class: "form-control", :placeholder => "Enter your message..." %>
    </div>
      <%= f.text_field :user_id, value: current_user.id, type: "hidden"  %>
    <div>
      <%= f.submit "Send", class:"btntextchange"%>
    </div>
  <% end %>
</div>