<%= form_with( scope: profile, local: true, method: :patch, url: profile_path(profile.id)) do |form| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "件") %>のエラーが見つかりました</h2>

      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
    <%= form.label :icon %>
    <%= image_tag profile.icon.url, id: "img_prev" %>
    <%= form.hidden_field :icon_cache %>
    <%= form.file_field :icon, id: 'user_img' %>

  <div class="field">
    <%= form.label :gender %>
    <div class="gender_area clearfix">
    <%= form.collection_radio_buttons :gender, Profile.genders,:first, :first %></div>
  </div>

  <div class="field">
    <%= form.label :birthday %>
    <div class="birthday_area clearfix">
      <%= form.date_select :birthday, { 
                  start_year:Time.now.year-100,
                  end_year:Time.now.year,
                  prompt:"選択してください",
        } %>
    </div>
  </div>

  <%# <div class="field">
    <%= form.label :residence %>
    <%# <%= collection_select :residence, residence.all, :code, :name, include_blank: "エリアを選択してください" %>
  <%# </div> %>


    <%= form.select :residence, Profile.residences.keys, {} %>

    <%= form.select :golf_history, Profile.golf_histories.keys, {} %>

    <%= form.select :average_score, Profile.average_scores.keys, {} %>

    <%= form.number_field :annual_round_time %>

    <div class="field">
      <%= form.label :playable_date %>
      <div class="playable_date_area clearfix">
      <%= form.collection_radio_buttons :playable_date, Profile.playable_dates,:first, :first %>
      </div>
    </div>

    <div class="field">
      <%= form.label :pick_up %>
      <div class="pick_up_area clearfix">
      <%= form.collection_radio_buttons :pick_up, Profile.pick_ups,:first, :first %>
      </div>
    </div>


  <div class="field">
    <%= form.label :introduction %>
    <%= form.text_area :introduction, :placeholder => "ゴルフに関する感想、目標等（1000文字以内）" %>
  </div>

  <div class="actions">
    <%= form.submit class:"btntextchange" %>
  </div>
<% end %>
