<h2>お気に入り一覧</h2>

<hr>

<div class="scroll-list jscroll">
  <ul class="cards">
    <% @favorites.each do |favorite| %>
      <li>
        <%= link_to profile_path(favorite.profile_id), data: {"turbolinks" => false}, class:"card" do %>
          <div class="card__header">
            <% if favorite.user.profile.icon? %>
              <%= image_tag favorite.user.profile.icon.url, class:"card__icon" %>
            <% else %>
              <%= image_tag asset_path("default_icon.png"), class:"card__icon" %>
            <% end %>
            <div class="card__header-text">
              <h3 class="card__title"><%= favorite.profile.user.name %></h3>
              <span class="card__status">
                <%= favorite.user.profile.residence %>
              </span>
            </div>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
  <%= paginate @favorites %>
</div>

<%# <script>
  $(function() {
    $('.jscroll').jscroll({
      contentSelector: '.scroll-list',
      nextSelector: 'span.next:last a'
    });
  });
</script> %>