<p id="notice"><%= notice %></p>

<p>
  <strong>Icon:</strong>
  <%= @profile.icon %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @profile.gender %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @profile.birthday %>
</p>

<p>
  <strong>residence:</strong>
  <%= @profile.residence %>
</p>

<p>
  <strong>Introduction:</strong>
  <%= @profile.introduction %>
</p>

<p>
  <strong>User:</strong>
  <%= @profile.user %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>