<h2>マイページ</h2>

<p>
  <% if @profile.icon? %>
    <%= image_tag @profile.icon.url, class: "profile_icon" %>
  <% else %>
    <%= image_tag asset_path("default_icon.png"), class: "profile_icon" %>
  <% end %>
</p>

<p>
  <strong>　自己紹介:</strong>
  <%= @profile.introduction %>
</p>

<p>【基本情報】</p>

<p>
  <strong>　ユーザー名:</strong>
  <%= @profile.user.name %>
</p>

<p>
  <strong>　性別:</strong>
  <%= @profile.gender %>
</p>

<p>
  <strong>　年齢:</strong>
  <% if  @profile.birthday.present? 
    # <%# <%= @profile.birthday %> 
  <%= (Date.today.strftime('%Y%m%d').to_i - @profile.birthday.strftime('%Y%m%d').to_i) / 10000 %>歳
  <% end %>
</p>

<p>
  <strong>　居住地:</strong>
  <%= @profile.residence %>
</p>

<p>【ゴルフ情報】</p>

<p>
  <strong>　ゴルフ歴:</strong>
  <%= @profile.golf_history %>
</p>

<p>
  <strong>　平均スコア:</strong>
  <%= @profile.average_score %>
</p>

<p>
  <strong>　年間ラウンド回数:</strong>
  <%= @profile.annual_round_time %>
</p>

<p>
  <strong>　プレー可能日:</strong>
  <%= @profile.playable_date %>
</p>

<p>
  <strong>　移動手段:</strong>
  <%= @profile.pick_up %>
</p>

      <%# <p>
        <% @golf_informations.each do |golf_information| %>
          <%# <><%= golf_information.golf_history %>
        <%# <% end %>
      <%# <p>  %>



<% if @profile.user_id == current_user.id %>
         <p><%= link_to 'プロフィールを編集する', edit_profile_path(profile_id: @profile), class: "btn btn-warning" %></p>
    <% else %>
        <p><%= link_to 'メッセージを送る', talks_path(sender_id: current_user.id, receiver_id: @profile.user.id), method: :post, class: "btn btn-warning" %></p>
    <% end %>

 <p>
<i class="fas fa-star"></i>
<%= @profile.favorites.count %>人がお気に入り
<% unless @profile.user_id == current_user.id %>
  <% if @favorite.present? %>
    <%= link_to 'お気に入り解除', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to 'お気に入りする', favorites_path(profile_id: @profile.id), method: :post, class: 'btn btn-primary' %>
  <% end %>
<% end %>
</p>

<% if @profile.user.id == current_user.id %>
  <p>
    <%# <%= link_to t('Edit'), edit_profile_path(@profile.user_id) %>
    <%= link_to t('Edit'), edit_profile_path(profile_id: @profile) %>
    <%= link_to t('Back'), profiles_path %>
  </p>
<% end %>