<p>
  <strong>User:</strong>
  <%= @profile.user.name %>
</p>

<p>
  <strong>Icon:</strong>
  <%= image_tag @profile.icon.url %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @profile.gender %>
</p>

<p>
  <strong>Birthday:</strong>
  <% if  @profile.birthday.present? %> 
    <%= @profile.birthday %>
</p>

  <%= (Date.today.strftime('%Y%m%d').to_i - @profile.birthday.strftime('%Y%m%d').to_i) / 10000 %>歳
  <% end %>

<p>
  <strong>residence:</strong>
  <%= @profile.residence %>
</p>

<p>
  <strong>Introduction:</strong>
  <%= @profile.introduction %>
</p>


<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>