<%= form_with(model: blog, local: true) do |form| %>
  <% if blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blog.errors.count, "件") %>のエラーが見つかりました</h2>

      <ul>
        <% blog.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, :placeholder => "タイトル（35文字以内）" %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, autofocus: true, :placeholder => 'ゴルフに関する感想、目標等（5000文字以内）' %>
  </div>

  <div class="actions">
    <%= form.submit class:"btntextchange" %>
  </div>
<% end %>
