<h1>Golf Blog</h1>
<%= search_form_for @q do |f| %>
<%= f.search_field :title_or_content_cont, :placeholder => "キーワードで検索" %> 
<br>
  <%= f.submit '検索', class:"btntextchange search" %>
<% end %>

<%= link_to new_blog_path do %>
  <h5><i class="fas fa-pencil-alt"></i> 投稿する</h5>
<% end %>

<hr>

<div class="scroll-list jscroll">
  <% @blogs.each do |blog| %>
      <div class="col-md-6">
        <%= link_to blog do %>
          <div class="blog__area index">
            <h1 class="blog_title"><%= blog.title.truncate(22) %></h1>
              <p class="content"><%= blog.content.truncate(200) %></p>
  
            <div class="user__area">
              <p><%= image_tag blog.user.profile.icon.url %></p>
              <p><%= blog.user.name %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
	<%= paginate @blogs %>
</div>

<script>
  $(function() {
    $('.jscroll').jscroll({
      contentSelector: '.scroll-list',
      nextSelector: 'span.next:last a'
    });
  });
</script> 