<div class="blog__area">
  <h1><%= @blog.title.truncate(35) %></h1>

  <p class="content"><%= @blog.content %></p>

<div class="user__area">
  <p><%= image_tag @blog.user.profile.icon.url %></p>
  <p><%= @blog.user.name %></p>
</div>
</div>
<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
