<h2>Talk</h2>
<p>ダイレクトメッセージ</p>

<hr>

<div class="col-sm-6">
  <ul>
    <% @talks.each do |talk| %>
      <% if talk.target_user(current_user).present? %>
        <li class="talking__user">
          <%= link_to talk_messages_path(talk) do %>
            <% if talk.target_user(current_user).profile.icon? %>
              <%= image_tag talk.target_user(current_user).profile.icon.url %>
            <% else %>
              <%= image_tag asset_path("default_icon.png") %>
            <% end %>
            <%= talk.target_user(current_user).name %>
            <span class="btn btn-danger"><%= talk.messages.where.not(user_id:current_user.id).where(read: false).count %></span>
          <% end %>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>

<div class="col-sm-6">
  <div class=" message__area">
  
  </div>

</div>