<p id="notice"><%= notice %></p>

 <%= render "profiles/show" %>
require 'golf_information'


<% unless @user.id == current_user.id %>
  <% if @favorite.present? %>
    <%= link_to 'お気に入り済み', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-primary' %>
  <% else %>
    <%= link_to 'お気に入りする', favorites_path(user_id: @user.id), method: :post, class: 'btn btn-danger' %>
  <% end %>
<% end %>
<%= link_to 'Edit', edit_trip_path(@user) %> |
<%= link_to 'Back', users_path %>