<%= form_with(model: golf_information, local: true) do |form| %>
  <% if golf_information.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(golf_information.errors.count, "error") %> prohibited this golf_information from being saved:</h2>

      <ul>
      <% golf_information.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :golf_history %>
    <%= form.select :golf_history %>
  </div>

  <div class="field">
    <%= form.label :average_score %>
    <%= form.number_field :average_score %>
  </div>

  <div class="field">
    <%= form.label :annual_round_time %>
    <%= form.number_field :annual_round_time %>
  </div>

  <div class="field">
    <%= form.label :playable_date %>
    <%= form.select :playable_date %>
  </div>

  <div class="field">
    <%= form.label :pick_up %>
    <%= form.text_field :pick_up %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>