¥<p>
  <strong>Golf_History:</strong>
  <%= @golf_information.golf_history %>
</p>

<p>
  <strong>Average_Score:</strong>
  <%= @golf_information.average_score %>
</p>

<p>
  <strong>Annual_Round_Times:</strong>
  <%= @golf_information.annual_round_times %>
</p>

<p>
  <strong>Play_Area:</strong>
  <%= @golf_information.play_area %>
</p>

<p>
  <strong>Playable_Date:</strong>
  <%= @golf_information.playable_date %>
</p>

<p>
  <strong>Pick_Up:</strong>
  <%= @golf_information.pick_up %>
</p>

<p>
  <strong>User:</strong>
  <%= @golf_information.user %>
</p>

<%= link_to 'Edit', edit_golf_information_path(@golf_information) %> |
<%= link_to 'Back', golf_informations_path %>