<!DOCTYPE html>
<html>
  <head>
    <title>GoRo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
  <div class="container">
    <% unless [tops_index_path, root_path].map{|page| current_page?(page)}.any? %>
      <header>
        <div class="logo">
          <%= link_to image_tag("header_logo.png", alt: "logo"), tops_index_path, data: {"turbolinks" => false} %>
        </div>
    <% end %>
      <div align="right" class="float_right">
        <% if user_signed_in? %>
              <%# <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-address-card fa-5x"></i>
              </a> %>
            <%# <p>メニュー一覧</p> %>
              <ul class="menu">
              <br>
                <li><%= link_to "ゴルファーを見る", profiles_path, data: {"turbolinks" => false} %></li>
                <%# <><%= link_to "ゴルファーを検索する", users_path, data: {"turbolinks" => false} %>
                <li><%= link_to "ゴルフブログを見る", blogs_path, data: {"turbolinks" => false} %></li>
                <li><%= link_to "メッセージを見る", talks_path, data: {"turbolinks" => false} %></li>
                <li><%= link_to "お気に入りしたゴルファーを見る", favorite_profiles_path, data: {"turbolinks" => false} %></li>
                <li class="uk-nav-divider"></li>
                <li>
                  <%= link_to profile_path(current_user.id), data: {"turbolinks" => false} do %>
                    <span class="uk-margin-small-right" uk-icon="icon: user"></span>マイページ
                  <% end %>
                </li>
                <li>
                  <%= link_to edit_user_registration_path, data: {"turbolinks" => false} do %>
                    <span class="uk-margin-small-right" uk-icon="icon: lock"></span>アカウント
                  <% end %>
                </li>
                <li>
                  <% if current_user.try(:admin?) %>
                    <%= link_to rails_admin_path, data: {"turbolinks" => false} do %>
                      <span class="uk-margin-small-right" uk-icon="icon: cog"></span>管理者ページ
                    <% end %>
                  <% end %>
                </li>
                <li>
                  <%= link_to destroy_user_session_path, method: :delete, id:"logout", data: { confirm: 'ログアウトしますか？' } do %>
                    <span class="uk-margin-small-right" uk-icon="icon: sign-out"></span>ログアウト
                  <% end %>
                </li>
              </ul>
            </li>
          </div>
        <% end %>
      </header>

        <% if notice %>
          <p class="alert alert-notice"><i class="fas fa-check"></i> <%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-error"><i class="fas fa-exclamation-triangle"></i> <%= alert %></p>
        <% end %>

        <div align="right" class = "icon-display">
          <% unless [tops_index_path, root_path].map{|p| current_page?(p)}.any? %>
            <% if user_signed_in? %>
              <%= link_to profile_path(current_user.id), data: {"turbolinks" => false} do %>
                <% if current_user.profile.icon? %>
                  <%= image_tag current_user.profile.icon.url%>
                <% else %>
                  <%= image_tag asset_path("default_icon.png") %>
                <% end %>
                <%= current_user.name %>
              <% end %>
            <% end %>
          <% end %>
        </div>

      <%= yield %>

      <footer>
        <p>Copyright ©︎ 2021 GoRo All Rights Reserved.</p>
    </footer>
    </div>
  </div>
  </body>
</html>


