<!DOCTYPE html>
<html>
  <head>
    <title>GoRo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container">
    <% unless [tops_index_path, root_path].map{|page| current_page?(page)}.any? %>
      <header>
        <%= link_to image_tag("header_logo.png", alt: "logo"), tops_index_path, data: {"turbolinks" => false} %>
      <% end %>
        <ul class="uk-iconnav uk uk-position-large uk-position-right", id="nav_list">
          <% if user_signed_in? %>
            <li><%= link_to profiles_path do %><span uk-icon="icon: users"><% end %></li>
            <li><%= link_to users_path do %><span uk-icon="icon: search"><% end %></li>
            <li><%= link_to blogs_path do %><span uk-icon="icon: pencil"><% end %></li>
            <li><%= link_to talks_path do %><span uk-icon="icon: mail"><% end %></li>
          <% else %>
            <li><%= link_to new_user_registration_path do %><span uk-icon="icon: user"><% end %></li>
            <li><%= link_to new_user_session_path do %><span uk-icon="icon: sign-in"><% end %></li>
          <% end %>
      </header>

        <div class="login">
        <% if user_signed_in? %>
           <button class="uk-button uk-button-default uk-margin-small-left" type="button" uk-toggle="target: #offcanvas-nav-primary" id="menu_window">MENU</button>

          <div id="offcanvas-nav-primary" uk-offcanvas="mode: push">
            <div class="uk-offcanvas-bar uk-flex uk-flex-column">
              <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical">
                <li><%= link_to "ゴルファーを見る", profiles_path, data: {"turbolinks" => false} %></li>
                <%# <><%= link_to "ゴルファーを検索する", users_path, data: {"turbolinks" => false} %>
                <li><%= link_to "ゴルフブログを見る", blogs_path, data: {"turbolinks" => false} %></li>
                <li><%= link_to "メッセージを見る", talks_path, data: {"turbolinks" => false} %></li>
                <li><%= link_to "お気に入りしたゴルファーを見る", favorite_profile_path, data: {"turbolinks" => false} %></li>
                <li class="uk-nav-divider"></li>
                <li>
                  <%= link_to profile_path(current_user.id), data: {"turbolinks" => false} do %>
                    <span class="uk-margin-small-right" uk-icon="icon: user"></span>マイページ
                  <% end %>
                </li>
                <li>
                  <%= link_to edit_user_registration_path, data: {"turbolinks" => false} do %>
                    <span class="uk-margin-small-right" uk-icon="icon: lock"></span>アカウント
                  <% end %>
                </li>
                <li>
                  <% if current_user.try(:admin?) %>
                    <%= link_to rails_admin_path, data: {"turbolinks" => false} do %>
                      <span class="uk-margin-small-right" uk-icon="icon: cog"></span>管理者ページ
                    <% end %>
                  <% end %>
                </li>
                <li>
                  <%= link_to destroy_user_session_path, method: :delete, id:"logout", data: { confirm: 'ログアウトしますか？' } do %>
                    <span class="uk-margin-small-right" uk-icon="icon: sign-out"></span>ログアウト
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
        <% end %>

        <% if notice %>
          <p class="alert alert-notice"><i class="fas fa-check"></i> <%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-error"><i class="fas fa-exclamation-triangle"></i> <%= alert %></p>
        <% end %>

        <% unless [tops_index_path, root_path].map{|p| current_page?(p)}.any? %>
          <% if user_signed_in? %>
            <%= link_to profile_path(current_user.id), data: {"turbolinks" => false} do %>
              <% if current_user.profile.icon? %>
                <%= image_tag current_user.profile.icon.url%>
              <% else %>
                <%= image_tag asset_path("default_icon.png") %>
              <% end %>
              <%= current_user.name %>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <%= yield %>
      <footer>
        <p>Copyright ©︎ 2021 GoRo All Rights Reserved.</p>
    </footer>
    </div>
  </body>
</html>
