<!DOCTYPE html>
<html>
  <head>
    <title>GoRo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= link_to "ブログ投稿", blogs_path %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      <%= link_to "プロフィール", profiles_path %>
      <%= link_to "ゴルファー一覧", users_path %>
      <%= link_to "トーク一覧", talks_path %>
    <% else %>
      <%= link_to "新規登録", new_user_registration_path %>
      <%= link_to "ログイン", new_user_session_path %>
    <% end %>

    <% if current_user.try(:admin?) %>
      <%= link_to "管理画面", rails_admin_path %>
    <% end %>

    <% if notice %>
      <p class="alert alert-notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-error"><%= alert %></p>
    <% end %>

     <% if user_signed_in? %>
      <div>名前:<%= current_user.name %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
