<!DOCTYPE html>
<html>
  <head>
    <title>GoRo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container">
    <header> 
      <%= link_to tops_index_path do %>
        <%= image_tag "logo.png", width: 150 %>
      <% end %>
      <% if user_signed_in? %>
        <ul class="menu">
          <li class="menu__single">
              <a href="#" class="init-bottom"><i class="fas fa-file-o">Profile</a>
              <ul class="menu__second-level">
                  <li><%= link_to "All Profiles", profiles_path %></li>
              </ul>
          </li>
          <li class="menu__single">
              <a href="#" class="init-bottom"><i class="fas fa-user"></i>User</a>
              <ul class="menu__second-level">
                  <li><%= link_to "All Users", users_path %></li>
                  <li><%= link_to "Talk", talks_path %></li>
              </ul>
          </li>
          <li class="menu__single">
              <a href="#" class="init-bottom"><i class="fas fa-sticky-note"></i>Blog</a>
              <ul class="menu__second-level">
                  <li><%= link_to "All Blogs", blogs_path %></li>
                  <li><%= link_to "Post Blog", new_blog_path %></li>
              </ul>
          </li>
          <li class="menu__single">
              <a href="#" class="init-bottom">><i class="fas fa-cog"></i>Account</a>
              <ul class="menu__second-level">
                  <li><%= link_to "Profiles", profile_path(current_user.id) %></li>
                  <li><%= link_to "Account", edit_user_registration_path %></li>
                  <li><% if current_user.try(:admin?) %><%= link_to "Admin", rails_admin_path %><% end %></li>
                  <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
              </ul>
          </li>
        </ul>
      <% end %>
    </header>
    <!---
      <% if notice %>
        <p class="alert alert-notice"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-error"><%= alert %></p>
      <% end %>

      --->
       <% if user_signed_in? %>
        <div class="login"><%= image_tag current_user.profile.icon.url %><%= current_user.name %></div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
